
<button onclick="window.location.href='/admin/book/new'">add</button>
<h3> Book Page </h3>


<table border="2px">

    <tr>
        <th> Name </th>
        <th> Cover </th>
        <th> Description </th>
        <th> Author </th>
        <th> Category </th>
    </tr>
    <% books.forEach((book) =>{ %>
    <tr>
        <td> 
            <%=book.name%>
        </td>
        <td> 
            <%=book.cover%>
        </td>
        <td> 
            <%=book.description%>
        </td>
        <td> 
            <% if (book.author_id == null ) { %>
            <%=""%>    
            <%}else{%>
            <%=book.author_id.fname + book.author_id.lname%>
            <%}%>
        </td>
        <td> 
            <% if (book.category_id == null ) { %>
            <%=""%>    
            <%}else{%>
            <%=book.category_id.name%>
            <%}%>
        </td>
        <td>
           <form method="GET" action="/admin/book/:<%=book._id%>/edit" style="display:inline">
                <input type="submit" name="update" value="update">
            </form> 
            <button onclick="window.location.href='/admin/book/:<%=book._id%>/delete'">delete</button>
        </td>
    </tr>
<% }) %>
</table>

<% include ../../layout/footer %>